:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // user do not copy text in app
  user-select: none;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

$color1: white;
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);

@import "./admin-styles/mixin";

@import "./home";
@import "./cart";
@import "./shipping";
@import "./login";
@import "./search";
@import "./order";

.container {
  max-width: 1367px;
  width: 100%;
  margin: auto;
  overflow: auto;
  > h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
}

.header {
  @include flex(row, flex-end, stretch, 1.2rem);
  padding: 1rem;
  a {
    color: $color2;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;

    &:hover {
      color: $color3;
    }
  }

  button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $color3;
    }
  }

  dialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: 110px;
    position: absolute;
    left: calc(100% - 120px);
    top: 8%;

    > div {
      @include flex(column, flex-start, center, 0.5rem);
    }
  }
}

.heading {
  @include heading;
  text-align: center;
  margin-top: 1rem 0;
  text-transform: uppercase;
}
