.dashboard__sidebar {
   background-color: rgb(247, 247, 247);
   height: 100vh;

   aside {
      background-color: white;
      height: 90vh;
      width: 16rem;
      z-index: 10;
      overflow-y: auto;

      &::-webkit-scrollbar {
         display: none;
      }

      img {
         height: 3rem;
         width: 4rem;
         position: absolute;
         top: 0.5rem;
         left: 1rem;
         filter: drop-shadow(2px 2px 1px rgba(173, 173, 173, 0.614));
      }

      div {
         width: 100%;
         padding-top: 0.7rem;

         div {
            width: 90%;
            margin-top: 1rem;
            h2 {
               font-size: 0.8rem;
               font-weight: 600;
               color: #39393994;
               margin-left: 8%;
            }

            ul {
               margin-top: 10%;
               margin-left: 13%;
               list-style-type: none;
               li {
                  border-radius: 5px;

                  a {
                     display: flex;
                     align-items: center;
                     margin-left: 0.7rem;
                     font-size: 0.9rem;
                     padding: 0.5rem;

                     span {
                        margin-left: 0.7rem;
                     }
                  }
               }
            }
         }
      }
   }
}
